
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: var(--font--roboto);
}
:root {
  --font-roboto: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
body {
  font-family: var(--font-roboto);
}
.whatsapp_icon{
  position: fixed;
  bottom: 10px;
  right:20px;
  & img{
   width: 50px;
   height: 50px;
  }
}
/* Home page or page.js styling starts form here */
.home_page{
  width: 100vw;
  position: relative;
}
/* Utility clasess */
.flex_prop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.font20{
  font-size: 20px;
}
.font14{
  font-size: 11px;
}
.link{
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.bold-text{
  font-weight: 600;
  /* font-size: 20px; */
}
hr{ 
  
    border:         none;
    border-left:    2px solid hsla(200, 10%, 50%,100);
    height:         20px;
    width:          px;       
}
/* margin classes */
.mt20{
  margin-top: 20px;
}
.ml20{
  margin-left: 20px;
}
.mr20{
  margin-right: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.mt40{
  margin-top: 40px !important;
}
.mb40{
  margin-bottom: 40px !important;
}
.font24{
  font-size: 24px;
}
.font18{
  font-size: 18px;
}
.font14{
  font-size: 14px;
}
.font12{
  font-size: 12px;
}
.mb30{
  margin-bottom: 30px !important;
}
.bold500{
  font-weight: 500;
}
/* Top contact section styling starts from here */
.top_contact_container{
  width: 100vw;
  /* height: 30px; */
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 11px;
  padding: 2px;
  gap:10px;
  padding-right: 30px;
  border-bottom: 0.5px solid #ffff;
  & span{
    cursor: pointer;
  }
}
.icons{
  font-size: 14px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}
.icons_container{

  gap:10px !important;
}
/* Navbar styling starts from here*/
.navbar_container{
  width: 100vw;
  overflow-x: hidden;
  height: 30px;
  background-color: #1B065E;
 transition: background-color 0.3s ease;
  color:#ffff;
display: flex;
justify-content: space-between;
padding: 0 25px;
align-items: center;
z-index: 100;
/* position: sticky; */
position: relative;

}
.tabs{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
  cursor: pointer;
}
.navbar_container.scrolled{  
  background-color: #1B065E;
  z-index: 1000000;
  
    position: sticky;
  /* top: 40px; */
  top: 0;

}
.navbar_container img{
  /* width: 300px; */
  height: 45px;
  object-fit:contain;
  border-radius: 20px 20px 0 0;
  padding: 10px;
  display: none;
}

/* HeroSection starts from here */
.herosec{
  position: relative;
  top: 0px;
  width: 100%;
  overflow-x: hidden;
}
.herosec img{
  object-fit: cover;
    height: auto;
  width: 100%;
    object-position: center;
 z-index: -20;
}

/* Course Section starts from here */
.courses_container{
  width: 95vw;
  margin: auto;
 
  position: relative;
  top: -110px;
  height: 215px;
}
 .course_card{
  width: 235px !important;
  height: 309px !important;
  display: flex !important;
  flex-direction: column;
  gap: 30px;
background-color: #1B065E;
padding: 0px 10px;
justify-content: center;
align-items: center;
color: #fff;
border-radius: 10px;
transition: 0.5s ease-in;
cursor: pointer;
}
.course_card:hover{
  /* transform: translateY(-20px); */
  & img{
    transform: scale(1.6);
  }
}
.course_card img{
  width: 131px;
  height: 115px;
  object-fit: contain;
  transition: 0.7s ease-in-out;
}
 .desc{
  font-size: 10px;
  color: #ccc;
  font-weight: 300;
  line-height: 1.3;

}
.course_card .heading{
 font-size: 16px;
 font-weight: 500;
}

/* Achievements Section styling starts from here */
.achievement_container{
 
 /* background-color: #BFBFBF; */
 background-image: url("./wallpaper2.jpg");
 background-size: cover;
 background-attachment:fixed;
object-position: center;
 height: 360px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 30px;
 padding: 40px 10px 10px 10px;
}
.achievement{
  width: 85vw;
 margin: auto;
 display: grid;
  grid-template-columns: repeat(4,1fr);
  place-items: center;
  justify-content: center;
  align-items: center;
}
.achievement_container .item{
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* color: #fff; */
  padding: 10px;
 background-color: rgba(255, 255, 255, 0.486);
 box-shadow: 0 0 5px #3d3d3d;
 border-radius:5px;
 transition: 0.3s ease-out;
}
.achievement .item:hover{
transform: translateY(-20px);
}
.achievement_name{
 font-size: 12px;
 font-weight:600;
 text-align: center;
}
.achievement_heading{
  font-size: 25px;
  font-weight: 500;
  color: #000;
  /* text-decoration: underline; */
  /* color:#1B065E; */
}
.achivement_icons{
  font-size: 60px;
  object-fit:cover ;
  margin: 0;

}
.achivement_count{
  font-size: 25px;
  font-weight:700;
  color: #1B065E;
}
/* Footer Section styling starts form here */
.footer_sec{
  background-color:#666;
  padding: 20px 10px  10px 10px;
  border-radius: 5px 5px 0 0;
  color: var(--white-color) !important;
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  .text-dec{
    color: var(--white-color);
    &:hover{
   scale: 1.03;
     
    }
  }
}
.links_container{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  align-items: flex-start;
  justify-content:flex-start;
  gap:0px;
  width: 80vw;
 margin: auto;

  & Link{
    text-decoration: none;
  }
  .aboutus_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .desc{
      line-height: 1.1rem;
      text-align: justify !important;
    }
  }
  .links_parent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    align-items: flex-start;
  }
    .link_sec{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap: 10px;
  }
}
/* About us Page styling starts form here */
.about-us-section{
  width: 85vw;
  margin: auto;
  margin-bottom: 40px;
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uppper-heading{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
.lower-heading{
    color: #ce1212;
    font-size: 22px;
    font-weight: 500
}
.left-right-section{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
 align-items: flex-start;
 justify-content: center;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-image{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.left-image img{
  width: 100%;
}
.right{
  font-size: 18px;
  color:var(--black-color);
  line-height: 1.6rem;
  /* font-weight: 500; */
  width: 70%;
}
}
/* Contact us page styling starts from here */
.contactus_sec{
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .imagesec{
 height: 250px;
 width: 100%;
 padding: 10px 5px;
    .iframe{
      width:100%;
      height: 100%;
      border: 2px solid black;
    }
  }
  .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

  }
  .contact_container{
     /* padding: 20px 10px 20px 10px; */
  width: 100%;
  margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 10px;
    /* box-shadow:  0 0 5px #3d3d3d; */

    .contact{
      display: flex;
      /* justify-content: center; */
      align-items: center;
      text-decoration: none;
      color:black;
    box-shadow:  0 0 2px #3d3d3d;
      gap: 10px;
      border-radius: 5px;
      padding: 8px 2px 5px 8px;
      /* width: 200px; */
      background-color:rgba(255, 255, 255, 0.484);
      width: 90%;
      cursor: pointer;
      transition:  all ease 0.2s;
      &:active{
        scale: 0.89;
      }
     
      .contact_icon{
        font-size: 40px;
        color:green;
      }
      .contact_text{
          display: flex;
          flex-direction: column;
          align-items:flex-start;
          justify-content: center;
          gap: 2px;
           & :nth-child(1){
        font-size: 18px;
      }
      }
    }
  }
}

/* Media Screen styling starts from here */
@media only screen and (max-width: 970px) {
  
}
@media only screen and (max-width: 660px) {
  .herosec{
    top: 0;
    & img{
      height: auto;
    }
  }
  .top_contact_container{
    justify-content:center;
    padding: 0 2px;
    gap: 8px !important;
    font-size: 7px;
  }
  .navbar_container{
    height: 45px;
    & img{
      height: 50px;
    }
  }
  .courses_container{
    top: -30px;
    margin-bottom: 0px;
    height: auto;
  }
  .achievement_container{
    padding: 25px 10px 10px 10px;
     /* width: 480px; */
     height: auto;
  }
  .achievement{
    width: 95vw;
    grid-template-columns:repeat(2,1fr) ;
   

    grid-gap: 20px;
  }
  .achievement_container .item{
    width: 160px;
    &:hover{
      transform: none;
    }
  }
  .courses_container .course_card{
    width: 320px !important;
    margin-left: 30px;
    height: 350px !important;
    &:hover{
      transform: none;
    }
    & .desc{
      font-size: 14px;
    }
  }
  .icons_container{
    gap: 5px !important;
  }
  .icons{
    font-size: 12px;
  }
  .login{
    margin-left: 0 !important;
  }
.contactus_sec{
      width: 90vw;
    }
    .contact_container{
      grid-template-columns:repeat(2,1fr) !important;
      row-gap: 20px !important;
    
      .contact{
        padding: 4% 2px !important;
      }
    }
    .about-us-section{
      width: 95vw;
      .left-right-section{
        grid-template-columns: 1fr;
        .right{
          width: 100%;
          .right-description{
            text-align: justify;
            color: var(--black-color);
          }
        }
      }
      .left-image{
        width: 100%;
      }
    }
  }

  @media only screen and (max-width:850px) {
    .home_page{
      overflow-x: hidden;
    }
      .links_container{
      width: 90vw !important;
      grid-template-columns: 1fr;
      gap: 30px;
      .links_parent{
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
      }
      .link_sec{
        flex-direction: column;
        text-align: center;
      }
       .footer_text{
      padding: 10px 10px !important;
      font-size: 14px !important;
      width: 90vw;
      margin: auto;
    }
  }
    .tabs {
        display: none;
    }
    .hamburger_menu {
        display: block;
    }
    .course_details {
      grid-template-columns: 1fr !important;
      width: 95vw !important;
      margin: auto !important;
    }
}
@media (min-width: 646px) {
    .tabs {
        display: flex;
    }
    .hamburger_menu {
        display: none;
    }
}
/* Menu list */
.menulist{
  z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.836); */
    background-color: #1b065ea9;
  width: 46vw;
  height: 100vh;
  margin-top: 45px;
  padding:30px 15px;
display: flex;
flex-direction: column;
gap: 60px;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  background-color:transparent !important;
}
.css-1tlgvf{
padding: 0 !important;
}

/* Submenu styling starts from here */
.submenu_link{
  color: #000;
  text-decoration: none;
}
.subCourses{
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.mobile_tabs{
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  margin: 10px 0;
}
.css-i4bv87-MuiSvgIcon-root{
  width:20px;
  height: 20px;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
/* submenu container */
background-color: #fff;
border-radius: 10px;

}
.MuiPaper-root{
  border-radius: 10px;
}
/* Course page styling starts from here */
.courses_container_page{

}
.courses_container_page .title{
  width: 100%;
  height: 200px;
  background-image: url("./graphics.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
  & h1{
    font-size: 35px;
    font-weight: bold;
    
  }
  & h2{
    border-bottom: 3px solid #ffff;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
  }

}
.coureses{
  width: 80vw;
  margin: auto;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px;
}
.courses_container_page .heading{
  font-size: 20px;
}
.courses_container_page img{
  width: 300px;
  height: 200px;
  object-fit: cover;
}
/* not found page stling */
  .error-container { 
    text-align: center; 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
 & h1 { 
    font-size: 5rem; 
    color: #ff5733; 
} 
  
 & p { 
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 20px; 
} 
  
& a { 
    text-decoration: none; 
    background-color: #ff5733; 
    color: #fff; 
    padding: 10px 20px; 
    border-radius: 3px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
} 
  
& a:hover { 
    background-color: #e6482e; 
}
}
.course_details{
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  width: 88vw;
  margin-right: auto;
  margin-left: 5vw;
gap: 80px;
margin-top: 20px;
padding: 10px;
/* background-color: #1B065E; */
}
.left{
      display: flex;
    flex-direction: column;
    gap: 5px;
}
.course_head{
  font-size: 25px;
  font-weight: 500;
}
.bookmark_text{
  display: flex;
  gap: 5px;
}
.catergory_container{
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.bookmark_icon{
  font-size: 45px;
  color: orange;
}
.category_text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.category_text .desc{
  font-size: 16px;
}
.all_text{
  font-size: 11px;
}
.review{
display: flex;
flex-direction: column;
align-items: flex-start;
}
.star_icon{
  color:sandybrown;
}
.review_text{
  font-size: 10px;
}
.left .course_img{
  & img{
    width: 100%;
    height: 350px;
    object-fit: fill;
  }
}
.course_details .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
 
}
.additional_detials{
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 2px solid #cccc;
  padding-bottom: 6px;
   & .text{
    font-size: 18px;
   }
}
.course_desc{
  margin-top: 40px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .desc{
    font-size: 14px;
    color: gray;
    width: 100%;
  }
}