
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home_page{
  width: 100%;
  height: 100vh;
  background-color: #000;
}
/* Utility clasess */
.flex_prop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
hr{ 
  
    border:         none;
    border-left:    2px solid hsla(200, 10%, 50%,100);
    height:         20px;
    width:          px;       
}
/* margin classes */
.mt20{
  margin-top: 20px;
}
.ml20{
  margin-left: 20px;
}
.mr20{
  margin-right: 20px;
}
.mb20{
  margin-bottom: 20px;
}
/* Top contact section styling starts from here */
.top_contact_container{
  width: 100%;
  height: 30px;
  background-color: #333333;
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  padding: 20px 10px;
  gap:20px;
  padding-right: 20px;
}
.icons{
  font-size: 18px;
  font-weight: 800;
  color: white;
}
.icons_container{

  gap:14px !important;
}
/* Navbar styling starts from here*/
.navbar_container{
  width: 100%;
  height: 50px;
  background-color: #1B065E;
  text-align: center;
  color:#ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 24px;
  font-weight: 500;
  padding: 40px 20px;
  cursor: pointer;
}